<!doctype html>
<h1 align="center">Library management system</h1>
{% load static %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<style>
a.fixed {
position: fixed;
right: 0;
top: 0;
width: 260px;
border: 3px solid #222320;
}
</style>
<a class="fixed" href="/logout">logout</a>
{% block content %}
{% endblock content %}

<body style="background:azure;">
</div>
</div>
</body>