{% extends 'base.html' %} 
{% block content %} 
<!DOCTYPE html>
<html>
<head>
    <title>User records</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable(
          
        );
    } );
    </script>
</head>
<body>
<div class="container">
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>User first name</th>
            <th>User last name</th>
            <th>User email</th>
            <th>User mobile</th>
            <th>User age</th>
            <th>User dob</th>
            <th>Action</th>            
        </tr>
    </thead>
    <tbody>
        {% for x in emp %}
        <tr>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.mobile }}</td>
            <td>{{ x.age }}</td>
            <td>{{ x.dob }}</td>
            <td><a href="{{ x.details_edit }}" class="btn btn-primary btn-sm">Edit</a></td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
<p align="center"><a href="/user_add"><button type="button" class="btn btn-primary">Add users</button></a></p>
</div>
</body>
</html>
{% endblock %}
