{% extends 'base.html' %}
{% block content %} 

<style>
		.button {
			border: none;
			font-family: "georgia",sans-serif;
			font-style:italic;
			border-radius: 6px;
			cursor: pointer;
			background-size: 10%;
			margin: 1px;
			padding: 1px;
			width: 50px;
			border-radius: 6px;
			color: Black;
			background-size: 200%;
			
		}
</style>

	<b>Book name: </b>{{ context_obj.book_name }} <br><br>
	
	<p align="center">
		<button class="button"><a href ='/view_list/'>Back</a></button>
	</p>
{% endblock %}